html {
    background-color: #fefefe;
}

body {
    font-family: "Open Sans", Arial;
    color: #454545;
    font-size: 16px;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
}

a {
    color: #07A;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav a {
    margin: 0.5rem;
}

.current {
    color: #941352;
}

.profile img {
    float: right;
    padding: 0em 2em 2em 2em;
}

.no-bullets {
    list-style-type: none;
}

.info {
    color: #666;
    line-height: 1;
    font-size: 14px;
}